@font-face {
  font-family: 'Metal Mania';
  font-style: normal;
  font-weight: 300;
  src: local('Metal Mania'), local('MetalMania-Regular'), url(http://themes.googleusercontent.com/static/fonts/metalmania/v2/_MPduYXiaptg6GQ2M6AHtLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

body  { 
  font-family: sans-serif;
  background: #eee; 
}

h1.title {
  //font-family: 'Metal Mania', cursive;
  font-family: 'Trade Winds', cursive;
  font-weight: normal;
  color: black;
}

h1, h2 { 
  color: #377BA8; 
  }
a.title-link{
  text-decoration: none;
}
h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  margin: 0em;
  padding: 10px 0px 0px 5px;

}
h5 {
  text-align: right;
  margin: 0em;
}

h4 {
    margin: 10px 0 0 5px;
}

a {
    color: #00f;
}

h1, h2 { 
    font-family: 'Georgia', serif;
    margin: 0;
  }
  
h1
  { 
    border-bottom: 2px solid #eee; 
  }
h2 { 
    font-size: 1.2em; 
}

.page { 
    margin: 40px auto; 
    width: 750px; 
    border: 5px solid #ccc;
    padding: 10px; 
    background: white; 
}

.entries { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.add-entry      { 
    font-size: 0.9em; 
    border-bottom: 1px solid #ccc; 
}
.add-entry dl   { 
    font-weight: bold; 
}

.metanav        { 
    text-align: right; 
    font-size: 0.8em; 
    padding: 0.3em;
    margin-bottom: 1em; 
    background: #fafafa; 
}

.flash          { 
    background: #CEE5F5; 
    padding: 0.5em;
    border: 1px solid #AACBE2; 
}
.error          { 
    background: #F0D6D6; 
    padding: 0.5em; 
}

.controls {
    text-align: center;
    background: #fafafa;
    border-top: 2px solid #eee;
}

.controls a {
    padding: 0 5px 0px 5px;
}

div.comment {
    background: #fafafa;
    
}

.rss-link{
    text-align: right;
    border-top: solid 2px #eee;
    margin-top: 10px;
    padding-top: 10px;
}
.title a{
    text-decoration: none;
}

.title-row td{
   padding-top: 20px; 
   padding-left: 20px;
   padding-right: 20px;
    font-weight: bold;

}

.info-row td{
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}
table {
   border-collapse: collapse;   
}
